<div>
    {% for message in messages %}
      <div class="alert alert-{{message.tags}} d-flex align-items-center alert-dismissible fade show" role="alert">
          {% if message.tags == 'primary' %}
            <i class="icon fa-solid fa-circle-info"></i>
          {% elif message.tags == 'success' %}
            <i class="fa-solid fa-check"></i>
          {% elif message.tags == 'warning' or message.tags == 'danger' %}
            <i class="icon fa-solid fa-triangle-exclamation"></i>
          {% endif %}
          <div id="{{message}}">{{message}}</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
</div>
