{% load static %}
<!DOCTYPE html>
<html lang="en" class="theme-dark">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Chat app{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Button.css' %}">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/variables.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/27372ff794.js" crossorigin="anonymous"></script>
</head>

<body id="root" class="FM3UqBURiJqkjC4tI7eS" style="--theme-background-color: #0F0F0F;">
    <div id="portals"></div>

    {% block modal %}{% endblock %}
    {% block header %}{% endblock %}

    
    <div class="container alerts">
        {% block messages %}
            {% include 'index/alerts.html' with messages=messages %}
        {% endblock %}
        {% block errors%}{% endblock %}
    </div>

    <div class="container cont">
        
        {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.4/dist/js/lightbox.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.4/dist/css/lightbox.min.css" rel="stylesheet">
    {% block scripts %}{% endblock %}
    <noscript>
        <h1>Chat App</h1>
        <p>Please, enable JavaScript to open the app.</p>
    </noscript>
</body>
</html>
