{% load static %}
{% load chat_api_tags %}
{% load i18n %}


{% if name == "all" %}
<div class="chat-list custom-scroll Transition_slide active show" id="pills-all" role="tabpanel"
aria-labelledby="pills-all-tab" tabindex="0" style="transition: none 0s ease 0s;">
{% else %}
<div class="chat-list custom-scroll Transition_slide" id="pills-{{ name|join:'' }}" role="tabpanel"
aria-labelledby="pills-{{ name|join:'' }}-tab" tabindex="0" style="transition: none 0s ease 0s;">
{% endif %}
    {% if not rooms|length == 0 %}
        <div style="position: relative;">
            {% for room in rooms|sort:'' %}
                <div class="ListItem Chat chat-item-clickable" style="display: flex;">
                    {% if room.type == 'chat' or room.name == 'Favorites' %}
                        <a class="ListItem-button" role="button" href="{% url 'chat' room.id %}" tabindex="0">
                    {% else %}
                        <a class="ListItem-button" role="button" href="{% url 'direct' room.id %}" tabindex="0">
                    {% endif %}
                        <div class="status status-clickable">
                            {% if room.name == "Favorites" %}
                                <div class="Avatar size-large peer-color-2">
                                    <div class="inner">
                                        <i class="Avatar__icon icon fa-solid fa-bookmark" role="img" aria-label="{{ user.username }}"></i>
                                    </div>
                                </div>
                            {% else %}
                                {% if room.image %}
                                    <div class="Avatar size-large">
                                        <div class="inner"><img class="Avatar__media" src="{{ room.image }}" alt="{{ room.name }}"></div>
                                    </div>
                                {% else %}
                                    <div class="Avatar size-large peer-color-2 no-photo">
                                        <div class="inner">{% first_letter room.name %}</div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="info">
                            <div class="info-row">
                                <div class="title ysHMmXALnn0fgFRc7Bn7">
                                    <h3 dir="auto" role="button" class="full-name nq7wdidGAlDZRU8k5YjA">{{ room.name }}
                                    </h3>
                                </div>
                                <div class="separator"></div>
                                {% if room.last_message %}
                                    <div class="LastMessageMeta">
                                        <span class="time">{{ room.last_message.created_at_formatted }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="subtitle">
                                <p class="last-message shared-canvas-container" dir="ltr">
                                    {% if room.last_message %}
                                        {% if room.type != "direct" %}
                                            <span class="sender-name">
                                                {% if room.last_message.sender.username == user.username %}
                                                    You
                                                {% else %}
                                                    {{ room.last_message.sender.username }}
                                                {% endif %}
                                            </span>
                                            <span class="colon">:</span>
                                        {% endif %}
                                        <span>
                                            {% if room.last_message.msg_type == "text" %}
                                                <span>{{room.last_message.body}}</span>
                                            {% else %}
                                                <span>{{ room.last_message.msg_type }} message</span>
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                </p>
                                {% if not room.unread_messages == 0 %}
                                    <div class="ChatBadge-transition">
                                        <div class="ChatBadge unread">
                                            <span class="Tx2CpCmpZZrHnCMUksg2">{{ room.unread_messages }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    <div class="btn-group dropend">
                        <button style="background-color: transparent;" id="outerDropdown"
                            class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="small-icon fa-solid fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu text-bg-dark" aria-labelledby="outerDropdown" style="padding: 5px;">
                            {% if folders %}
                                {% for folder in folders %}
                                    <li>
                                        <form action="{% url 'add-room-to-folder' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="folder-id" id="folder-id" value="{{ folder.id }}">
                                            <input type="hidden" name="room-id" id="room-id" value="{{ room.id }}">
                                            <button type="submit" class="nav-link btn btn-success">Add to {{ folder.name }}</button>
                                        </form>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>
                                    <a class="nav-link btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#addFolderModal" type="button" role="tab">Add folder</a>
                                </li>
                            {% endif %}
                            {% if rm_rooms %}
                                <li>
                                    <form action="{% url 'remove-room-from-folder' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="folder-id" id="folder-id"
                                            value="{{ folder.id }}">
                                        <input type="hidden" name="room-id" id="room-id" value="{{ room.id }}">
                                        <button type="submit" class="nav-link btn btn-danger">Remove from folder</button>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-default text-center">{% translate "No rooms." %}</div>
    {% endif %}
    {% if rm_rooms %}
        <form class="remove-folder-form" method="post" action="{% url 'remove-folder' %}">
            {% csrf_token %}
            <input type="hidden" name="folder-id" id="folder-id" value="{{ folder.id }}">
            <button type="submit" style="background-color: transparent; width: 25px;" title="Remove folder">
                <i class="icon fa-solid fa-trash-can"></i>
            </button>
        </form>
    {% endif %}
</div>
