{% load static %}
{% load chat_api_tags %}
{% load i18n %}


{% if not rooms|length == 0 %}
    <div class="table-responsive">
        {% for room in rooms|sort:'' %}
            <div class="room-container">
                <div class="room">
                    <a href="{% url 'chat' room.id %}">
                        <div class="avatar small" style="background-image: url({{ room.image }});"></div>
                    </a>
                    <a class="room-main-block" href="{% url 'chat' room.id %}">
                        <div>
                            <div class="room-name d-flex" style="justify-content: space-between;">
                                <span><strong>{{room.name}}</strong></span>
                                <span><small>{{room.last_message.created_at_formatted}}</small></span>
                            </div>
                            <div class="prev-last-msg">
                                    {% if room.last_message %}
                                        <div>
                                            <span>{{room.last_message.sender.username}}:</span>
                                            {% if room.last_message.msg_type == "text" %}                                   
                                                <span>{{room.last_message.body}}</span>
                                            {% else %}
                                                <span>{{room.last_message.msg_type}} message</span>
                                            {% endif %}
                                        </div>
                                    {% endif %}                                
                                <div class="unread-count" style="margin-left: auto;">
                                    {% if not room.unread_messages == 0 %}
                                        <span class="badge text-bg-primary" style="border-radius: 50%;">
                                            {{ room.unread_messages }}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="btn-group dropend">
                        <button style="background-color: transparent;" id="outerDropdown" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'menu.png' %}" alt="menu" style="width: 10px;">
                        </button>
                        <ul class="dropdown-menu text-bg-dark" aria-labelledby="outerDropdown">
                            {% for folder in folders %}
                            <li>
                                <form action="{% url 'add-room-to-folder' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="folder-id" id="folder-id" value="{{ folder.id }}">
                                    <input type="hidden" name="room-id" id="room-id" value="{{ room.id }}">
                                    <button type="submit" class="nav-link btn btn-success">Add to {{ folder.name }}</button>
                                </form>
                            </li>
                            {% endfor %}
                            {% if rm_rooms %}
                                <li>
                                    <form action="{% url 'remove-room-from-folder' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="folder-id" id="folder-id" value="{{ folder.id }}">
                                        <input type="hidden" name="room-id" id="room-id" value="{{ room.id }}">
                                        <button type="submit" class="nav-link btn btn-danger">Remove from folder</button>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-default text-center">{% translate "No rooms." %}</div>
{% endif %}

{% if rm_rooms %}
    <form class="remove-folder-form" method="post" action="{% url 'remove-folder' %}">
        {% csrf_token %}
        <input type="hidden" name="folder-id" id="folder-id" value="{{ folder.id }}">
        <button type="submit" style="background-color: transparent; width: 25px;" title="Remove folder">
            <img src="{% static 'bin.png' %}" alt="bin">
        </button>    
    </form>
{% endif %}