<div class="footer">
    <footer>
        <div class="foot-main-container">
            <div id="form">
                <textarea maxlength="1600"
                    id="inp-message" placeholder="Введите сообщение" type="text" name="message"
                    spellcheck="false" autocomplete="false"></textarea>
                <button id="inp-send-msg" type="button" name="submit">
                    <img id="send-msg-img" src="https://cdn.you.com/img/shared/icon-send.svg" alt="tg">
                </button>
            </div>
        </div>
    </footer>
</div>