{% load static %}
<div class="header">
    <div class="in-header">
        <div class="logo-container">
            <a href="{% url 'chats' %}">
                <img class="logo" src="https://cdn.you.com/img/shared/logos/ydc-logo.svg">
            </a>
        </div>
        <div class="user-name">
            <span>Hello, {{ user.username }} </span>
            <a href="{% url 'profile' user.user_id %}" class="profile">
                <div class="avatar small" style="background-image: url({{ user.Avatar.image }});"></div>
            </a>
        </div>
        
        
        <div class="another-in-header">
            <div id="">
                <a href="{% url 'users' %}" title="Search">
                    <div class="bell" style="background-image: url({% static 'search.png' %});"></div>
                </a>
            </div>
            <div class="notifications btn-group">
                <a href="{% url 'notifications:list' %}" title="Notifications">
                    <div class="bell" style=" background-image: url({% static 'notification_bell_icon.png' %})" alt="notify"></div>
                    {% if unread %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ unread|length  }}
                            <span class="visually-hidden">unread notifications</span>
                        </span>
                    {% endif %}
                    </a>
            </div>
            {% block another_in_header %}
            <button id="add-member-btn"  data-bs-toggle="modal" data-bs-target="#addMemberModal">Add members</button>
            {% endblock %}
            
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <div class="logout">
                    <input id="logout-inp" type="submit" value="Logout">
                </div>
            </form>        
        </div>
    </div>
</div>
