{% load static %}
{% load chat_api_tags %}

<div class="MiddleHeader">
    <div class="Transition">
        <div class="Transition_slide Transition_slide-active">
            {% if room %}
                <div class="back-button">
                    <a href="{% url 'chats' %}">
                        <button type="button" class="Button smaller translucent round" title="Back">
                            <i class="icon fa-solid fa-arrow-left"></i>
                        </button>
                    </a>
                    {% if unread %}
                        <div class="unread-count">{{ unread|length  }}</div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="chat-info-wrapper">
                <div class="ChatInfo">
                    {% if room %}
                        <a id="show-chat-info-btn" data-bs-toggle="modal" data-bs-target="#chatInfo" style="display: flex;" title="Chat info">
                            {% if room.name == "Favorites" %}
                                <div class="Avatar size-medium peer-color-2 saved-messages interactive">
                                    <div class="inner">
                                        <i class="Avatar__icon icon fa-solid fa-bookmark" role="img" aria-label="{{ user.username }}"></i>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="title ysHMmXALnn0fgFRc7Bn7">
                                        <h3>Saved Messages</h3>
                                    </div>
                                </div>
                            {% else %}
                                
                                {% if room.image %}
                                    <div class="Avatar size-medium interactive">
                                        <div class="inner">
                                            <img src="{{ room.image }}" class="Avatar__media avatar-media opacity-transition slow open shown" alt="{{ room.name }}" decoding="async" draggable="false">
                                        </div>
                                {% else %}
                                    <div class="Avatar size-medium peer-color-2 interactive">
                                        <div class="inner">{% first_letter room.name %}</div>
                                {% endif %}
                                
                                </div>
                                <div class="info">
                                    <div class="title ysHMmXALnn0fgFRc7Bn7">
                                        <h3>{{ room.name }}</h3>
                                    </div>
                                </div>
                            {% endif %}
                        </a>
                    {% else %}
                        <div class="logo-container">
                            <div class="inner">
                                <a href="{% url 'chats' %}">
                                    <img class="logo" src="https://cdn.you.com/img/shared/logos/ydc-logo.svg">
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <div class="title ysHMmXALnn0fgFRc7Bn7">
                                <a href="{% url 'profile' user.user_id %}">
                                    <h3>Hello, {{ user.username }}</h3>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>   

    <div class="header-tools">
        <div class="HeaderActions">
            <div>
                <a href="{% url 'users' %}" title="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
            {% if not room %}
                <div class="notifications btn-group">
                    <a href="{% url 'notifications:list' %}" title="Notifications">
                        <i class="fa-regular fa-bell"></i>
                        {% if unread %}
                            <span class="unread-count">
                                {{ unread|length  }}
                                <span class="visually-hidden">unread notifications</span>
                            </span>
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
