{% extends 'index/base.html' %}
{% load static %}

{% block errors %}
    {% include 'index/form_errors.html' with form=form %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="form">
    <form id="inputCredForm" action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <img class="logo" src="https://cdn.you.com/img/shared/logos/ydc-logo.svg">
        <h2>Sign up</h2>
        {{ form.as_div }}
        <button class="Button translucent success" type="submit" name="submit-btn" id="submit-btn">Continue</button>
        <span id="reg-lbl">Have account already?<a id="reg-a" href="{% url 'login' %}">Login</a></span>
    </form>    
</div>
{% endblock %}
{% block scripts %}
    <script type="module" src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/blockSubmitBtn.js' %}"></script>
{% endblock %}