{% extends 'index/base.html' %}
{% load static %}

{% block errors %}
    {% include 'index/form_errors.html' with form=form %}
{% endblock %}

{% block content %}
<form class="form" class="form" action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <img class="logo" src="https://cdn.you.com/img/shared/logos/ydc-logo.svg">
    <h2>Sign up</h2>
    {{ form }}
    <input class="inp" type="submit" value="continue" name="submit-btn" id="submit-btn">
    <span id="reg-lbl">Have account already?<a id="reg-a" href="{% url 'login' %}">Login</a></span>
</form>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}