{% extends 'index/base.html' %}
{% load chat_api_tags %}
{% load static %}


{% block header %}
    {% include 'index/header.html' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/MessageList.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Chat.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ChatFolders.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Tab.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/TabList.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/LastMessageMeta.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/NewChatButton.css' %}">
{% endblock %}

{% block modal %}
<!-- Modal for create room -->
<div class="modal fade" id="createRoomModal" data-bs-theme="dark" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5 text-bg-dark" id="ModalLabel">Create room</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body">
                <div style="display: flex; justify-content: center; margin-bottom: 1.5rem;">
                    <div class="Avatar size-large peer-color-3 no-photo room-preview">
                        <div class="inner">-</div>
                    </div>
                </div>
                <form class="create-room-form" enctype="multipart/form-data" method="post" action="{% url 'create-chat' %}">
                    {% csrf_token %}
                    {{ create_room_form.as_div }}
                    <button style="margin: 10px 0;" type="button" class="Button translucent danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="Button translucent success">Create room</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for add folder -->
<div class="modal fade" id="addFolderModal" data-bs-theme="dark" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-bg-dark" id="ModalLabel">Add folder</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="add-folder-form" method="post" action="{% url 'create-folder' %}">
                    {% csrf_token %}
                    <div class="input-group with-label">
                        <input class="form-control" type="text" name="folder-name" id="folder" required>
                        <label for="folder">Folder name</label>
                    </div>
                    <button type="button" class="Button translucent danger" data-bs-dismiss="modal" style="margin: 10px 0;">Close</button>
                    <button class="Button translucent success" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for new direct -->
<div class="modal fade" id="newDirectModal" data-bs-theme="dark" tabindex="-1" aria-labelledby="newDirectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-bg-dark" id="ModalLabel">New direct</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'index/users_list.html' with users=friends %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="MiddleColumn-rooms">
    <div class="Transition">
        <div class="ChatFolders Transition_slide Transition_slide-active">
            <div class="Transition">
                <div class="yh3gh5jgbv4s6dhtk">
                    {% include "index/folders.html" with folders=folders %}
                    <div style="margin-right: 1rem;">
                        <span style="color: gray;">No rooms yet?</span>
                        <a class="create-room-btn" type="button" data-bs-toggle="modal" data-bs-target="#createRoomModal" title="Create room">Create room</a>
                    </div>
                </div>
                <div class="Transition Transition-slideOptimized">
                    {% include "index/folders_partial.html" with rooms=rooms folders=folders name="all" %}

                    {% for folder in folders %}
                        {% include "index/folders_partial.html" with rooms=folder.rooms folders=folders rm_rooms=True name=folder.name %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="NewChatButton">
        <button type="button" data-bs-toggle="modal" data-bs-target="#newDirectModal" class="Button default primary round" aria-label="New Message" title="New Message" tabindex="-1">
            <i class="icon fa-solid fa-pen"></i>
        </button>
    </div>
</div>

{% endblock %}
{% block scripts %}
    <script type="module" src="{% static 'js/rooms.js' %}"></script>
{% endblock %}
