{% extends 'index/base.html' %}
{% load static %}

{% block header %}
    {% include 'index/header.html' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/SearchInput.css' %}">
{% endblock %}


{% block content %}
<div class="MiddleColumn-users">
    <div class="Transition_slide Transition_slide-active">
        <form class="SearchInput" action="{% url 'search-users' %}" method="post" style="display: flex;">
            {% csrf_token %}
            {{ search_form }}
            <div class="Transition icon-container">
                <div class="Transition_slide Transition_slide-active">
                    <i class="icon fa-solid fa-magnifying-glass search-icon"></i>
                </div>
            </div>
            <button class="Button smaller success" type="submit" style="width: 15%; border-radius: inherit;">Search</button>
        </form>
        {% if users and addMembers %}
            {% include 'index/users_list.html' with users=users addMembers=addMembers %} 
        {% elif users and friends %}
            {% include 'index/users_list.html' with users=users %}
        {% else %}
            {% include 'index/users_list.html' with users=friends friends=friends %}
        {% endif %}
    </div>
</div>
    
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/users.js' %}"></script>
{% endblock %}
