{% load chat_api_tags %}

{% if users %}
{% for usr in users %}
<div class="ListItem">
    <div class="ListItem-button">
        <a href="{% url 'profile' usr.user_id %}">
            <div class="status status-clickable">
                {% if room.image %}
                <div class="Avatar size-large">
                    <div class="inner"><img class="Avatar__media" src="{{ usr.Avatar }}" alt="{{ usr.username }}"></div>
                </div>
                {% else %}
                <div class="Avatar size-large peer-color-2 no-photo">
                    <div class="inner">{% first_letter usr.username %}</div>
                </div>
                {% endif %}
            </div>
        </a>
        <div class="info">
            <a href="{% url 'profile' usr.user_id %}">
                <div class="info-row">
                    {{ usr.username }}
                </div>
            </a>
            <div class="subtitle">
                <div class="user-actions">
                    {% if usr in friends %}
                    <form action="{% url 'direct' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" id="user_id" value="{{ usr.user_id }}">
                        <button class="Button success"><span>Send message</span></button>
                    </form>
                    {% elif usr.user_id in request_sent_for %}
                    <div class="ListItem">
                        <div class="ListItem-button">
                            <span>Request sent</span>
                        </div>
                    </div>
                    {% else %}
                    <a class="Button success" href="{% url 'friend_requests:send' usr.user_id %}">
                        <span>Add friend</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div>Not found results ;( <br>
    let`s try add more friends
</div>
{% endif %}