{% extends 'index/base.html' %}
{% load i18n %}

{% block title %}{% translate "Requests list" %}{% endblock %}

{% block header %}
{% include 'index/header.html' %}
{% endblock %}

{% block content %}
<div class="MiddleColumn-notifications">
    <h1 class="page-header text-center">{% translate "Friend requests" %}</h1>
    <div style="display: flex; justify-content: center;">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <div class="ListItem">
            <button class="ListItem-button" id="v-pills-accepted-tab" data-bs-toggle="pill" data-bs-target="#v-pills-accepted" type="button" role="tab" aria-controls="v-pills-accepted" aria-selected="true">Accepted</button>
          </div>
          <div class="ListItem">
              <button class="ListItem-button" id="v-pills-declined-tab" data-bs-toggle="pill" data-bs-target="#v-pills-declined" type="button" role="tab" aria-controls="v-pills-declined" aria-selected="false">Declined</button>
          </div>
          <div class="ListItem">
            <button class="ListItem-button active" id="v-pills-sent-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sent" type="button" role="tab" aria-controls="v-pills-sent" aria-selected="false">Sent</button>
          </div>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade" id="v-pills-accepted" role="tabpanel" aria-labelledby="v-pills-accepted-tab" tabindex="0">
            {% include "friend_requests/list_partial.html" with friend_requests=accepted %}
          </div>
          <div class="tab-pane fade" id="v-pills-declined" role="tabpanel" aria-labelledby="v-pills-declined-tab" tabindex="0">
            {% include "friend_requests/list_partial.html" with friend_requests=declined %}
          </div>
          <div class="tab-pane fade show active" id="v-pills-sent" role="tabpanel" aria-labelledby="v-pills-sent-tab" tabindex="0">
            {% include "friend_requests/list_partial.html" with friend_requests=sent %}
          </div>
        </div>
      </div>
</div>
{% endblock %}
