.chat-list {
    background: var(--color-background);
    height: 100%;
    padding: 0.5rem 0.4375rem 0.5rem 0.4375rem;
    padding-inline-end: calc(0.4375rem - var(--scrollbar-width));
    overflow-x: hidden;
    overflow-y: scroll;
    transition: opacity .25s ease-in-out;
    transform: scale(0);
}
.chat-list .ListItem.chat-item-clickable {
    margin: 0;
}
.chat-list.active.show {
    transform: translate3d(0px, 0px, 0px);
}