.Album {
    position: relative;
    overflow: hidden;
    margin: auto;
}
.Album>.album-item-select-wrapper .media-inner, .Album>.album-item-select-wrapper .media-inner img, .Album>.album-item-select-wrapper .media-inner video {
    border-radius: 0 !important;
    object-fit: cover;
}
.Album>.album-item-select-wrapper .media-inner, .message-content.media.text .Album>.album-item-select-wrapper .media-inner {
    margin: 0 !important;
}
