.Audio.inline {
    margin-top: 0.1875rem;
}
.Audio {
    display: flex;
    align-items: flex-start;
    position: relative;
}
.Audio .toggle-play.smaller {
    width: 3rem;
    height: 3rem;
    margin-inline-end: 0.75rem;
}