.composer-wrapper .svg-appendix {
    position: absolute;
    bottom: -0.1875rem;
    right: -0.5rem;
    width: 0.5625rem;
    height: 1.25rem;
    transition: opacity 200ms;
    font-size: 1rem !important;
}
.composer-wrapper {
    flex-grow: 1;
    max-width: calc(100% - 4rem);
    background: var(--color-background);
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.31) 0px -0.5px 0px, rgba(0, 0, 0, 0.31) 0px 0px 18px;
    border-radius: 2rem;
    border-bottom-right-radius: 0;
}
.Composer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.Composer {
    --base-height: 3.5rem;
    align-items: flex-end;
}
.Composer {
    margin-bottom: 1.25rem;
}
.message-input-wrapper {
    display: flex;
}
.input-scroller {
    min-height: var(--base-height, 3.5rem);
    max-height: 26rem;
    overflow: hidden;
    transition: height 100ms ease;
}
.message-input-wrapper .input-scroller {
    transition: height 100ms ease;
    margin-right: 0.5rem;
    padding-right: 0.25rem;
}
.input-scroller>.input-scroller-content {
    position: relative;
}
.form-control {
    --border-width: 1px;
    display: block;
    width: 100%;
    word-break: break-word;
    padding-left: 5px;
    padding-right: 5px;
    height: 3.375rem;
    padding: calc(0.75rem - var(--border-width)) calc(0.9rem - var(--border-width));
    border: var(--border-width) solid var(--color-borders-input);
    border-radius: var(--border-radius-default);
    color: var(--color-text);
    background-color: var(--color-background);
    outline: none;
    transition: border-color .15s ease;
    word-break: break-word;
    -webkit-appearance: none;
    font-size: 1rem;
    line-height: 1.25rem;
}
#message-input-text, #caption-input-text {
    position: relative;
    flex-grow: 1;
}
#message-input-text .form-control {
    margin-bottom: 0;
    line-height: 1.3125;
    padding: calc((var(--base-height, 3.5rem) - var(--composer-text-size, 1rem)*1.3125)/2) 0;
    white-space: pre-wrap;
    height: auto;
}
#message-input-text .form-control, #caption-input-text .form-control {
    padding: calc((var(--base-height, 3.5rem) - var(--composer-text-size, 1rem)*1.375)/2) 0.875rem;
    overflow: hidden;
    height: auto;
    line-height: 1.375;
    font-family: var(--font-family);
    unicode-bidi: plaintext;
    text-align: initial;
    font-size: var(--composer-text-size, 1rem);
    background: rgba(0,0,0,0) !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    caret-color: rgb(255,255,255);
}
.form-control:focus, .form-control {
    color: rgb(255,255,255)!important;
}
#message-input-text .placeholder-text {
    top: calc((var(--base-height, 3.5rem) - var(--composer-text-size, 1rem)*1.3125)/2);
}
#message-input-text .placeholder-text {
    left: 0.75rem;
}
#caption-input-text .placeholder-text {
    top: auto;
    bottom: 1.0625rem;
    left: 0.875rem;
}
#message-input-text .placeholder-text, #caption-input-text .placeholder-text {
    position: absolute;
    color: var(--color-placeholders, #a2acb4);
    pointer-events: none;
    unicode-bidi: plaintext;
    text-align: initial;
    line-height: 1.3125;
    font-size: var(--composer-text-size, 1rem);
    top: calc((3.25rem - var(--composer-text-size, 1rem)*1.375)/2);
    bottom: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    transition: opacity 200ms ease-out,transform 200ms ease-out;
}
.corner, .svg-appendix, .conrner-wrapper {
    fill: var(--color-background);
}
.input-scroller.overflown {
    overflow-y: auto;
}
#message-input-text .form-control.touched~.placeholder-text, #caption-input-text .form-control.touched~.placeholder-text {
    opacity: 0;
    transform: translateX(1rem);
}
#message-input-text a, .message a, .text-content a:hover{
    color: lightblue;
}
#message-input-text a:hover, .message a:hover, .text-content a{
    text-decoration: underline;
}
.text-content a:hover {
    text-decoration: none;
}
.message-input-wrapper>.AttachMenu>.Button, .message-input-wrapper>.Button {
    flex-shrink: 0;
    background: none !important;
    width: var(--base-height, 3.5rem);
    height: var(--base-height, 3.5rem);
    margin: 0;
    padding: 0;
    align-self: flex-end;
    --slide-transition: 450ms cubic-bezier(0.25, 1, 0.5, 1);
}
.message-input-wrapper>.AttachMenu>.Button:not(.faded):not(.activated), .message-input-wrapper>.Button:not(.faded):not(.activated) {
    color: var(--color-composer-button, rgb(170,170,170,0.8));
}
.Composer>.Button:not(.danger) {
    color: var(--color-composer-button);
}
.Composer>.Button {
    flex-shrink: 0;
    margin-left: 0.5rem;
    width: var(--base-height);
    height: var(--base-height);
}
.Composer>.Button {
    opacity: 1;
    transform: scale(1);
    transition: opacity var(--select-transition),transform var(--select-transition),background-color .15s,color .15s;
}
#caption-input-text .input-scroller {
    min-height: var(--base-height, 3.5rem);
    max-height: 10rem;
    margin-right: calc((var(--margin-for-scrollbar) + 1rem)*-1);
}
#caption-input-text .input-scroller-content {
    margin-right: calc(var(--margin-for-scrollbar) + 0.5rem);
}
.input-scroller>.input-scroller-content {
    position: relative;
}
