.EmbeddedMessage.inside-input {
    flex-grow: 1;
    margin: 0;
    border-radius: 0.25rem;
}
.EmbeddedMessage {
    display: flex;
    align-items: center;
    font-size: calc(var(--message-text-size, 1rem) - .125rem);
    line-height: 1.125rem;
    margin-bottom: 0.0625rem;
    padding: 0.1875rem 0.375rem 0.1875rem 0.1875rem;
    border-radius: var(--border-radius-messages-small);
    position: relative;
    overflow: hidden;
    cursor: var(--custom-cursor, pointer);
    background-color: var(--accent-background-color);
    transition: background-color .2s ease-in;
}
.EmbeddedMessage.inside-input .message-text {
    margin-inline-start: 0.375rem;
    flex-grow: 1;
}
.EmbeddedMessage .message-text {
    overflow: hidden;
    margin-inline-start: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
}
.EmbeddedMessage .message-text .embedded-text-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.125rem;
    margin-bottom: 0;
}
.EmbeddedMessage.inside-input .message-title {
    font-weight: 500;
    color: var(--accent-color);
}
.EmbeddedMessage .message-text .message-title, .EmbeddedMessage .message-text .embedded-sender {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.EmbeddedMessage .message-text .message-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    column-gap: 0.25rem;
}
.EmbeddedMessage .message-title {
    font-size: calc(var(--message-text-size, 1rem) - .125rem);
}
.EmbeddedMessage::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-start: 0;
    width: 3px;
    background: var(--bar-gradient, var(--accent-color));
}
.EmbeddedMessage .pictogram {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.EmbeddedMessage .embedded-thumb {
    position: absolute;
    top: 0.375rem;
    inset-inline-start: 0.375rem;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    flex-shrink: 0;
    overflow: hidden;
}
.EmbeddedMessage.inside-input .embedded-thumb {
    margin-left: 0.125rem;
}
.EmbeddedMessage.with-thumb .embedded-text-wrapper {
    text-indent: 2.25rem;
}
.EmbeddedMessage.with-thumb .message-title {
    padding-inline-start: 2.25rem;
}
.EmbeddedMessage .message-text .emoji {
    width: calc(1.125*var(--message-text-size, 1rem)) !important;
    height: calc(1.125*var(--message-text-size, 1rem)) !important;
    vertical-align: bottom !important;
}