.File .file-icon-container {
    position: relative;
}
.File.smaller {
    --background-color: var(--color-background);
    --border-radius-messages-small: 0.3125rem;
}
.File {
    --secondary-color: var(--color-text-secondary);
    display: flex;
    align-items: center;
}
.QAlzNLWBYdWR4UMMaiGm {
    margin: 0.5rem;
    flex-grow: 1;
    min-width: 0;
}
.File.smaller .file-icon {
    padding-bottom: 0.375rem;
}
.File.smaller .action-icon, .File.smaller .file-progress, .File.smaller .file-icon, .File.smaller .file-preview {
    width: 3rem;
    height: 3rem;
}
.File .file-icon {
    padding: 1rem 0.75rem 0.5rem;
    align-items: flex-end;
    flex-shrink: 0;
    position: relative;
    color: #fff;
}
.File .file-progress, .File .file-icon, .File .file-preview {
    width: 3.375rem;
    height: 3.375rem;
    margin-inline-end: 0.75rem;
    border-radius: var(--border-radius-messages-small);
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.File .file-preview {
    background: rgba(0,0,0,0);
    overflow: hidden;
}
.File .file-icon .file-ext {
    font-size: 1rem;
    font-weight: 500;
    transition: opacity .15s;
}
.File.smaller .file-icon::after {
    border-width: 0 1rem 1rem 0;
}
.File .file-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 0.25rem;
    background: rgba(0,0,0,.25);
    border-color: rgba(0,0,0,0) var(--background-color) rgba(0,0,0,0) var(--background-color);
    border-width: 0 1.125rem 1.125rem 0;
    border-style: solid;
    transition: border-width .15s ease-in;
}
.File.interactive .file-icon-container:hover .file-ext {
    opacity: 0;
}
.theme-dark .message-content.document .File {
    --color-primary: var(--color-selection-highlight);
}
.Message.own .File {
    --secondary-color: var(--color-text-green);
}
.content-inner .File {
    min-width: 14rem;
}
.File.interactive .file-icon-container {
    cursor: var(--custom-cursor, pointer);
}
.File.interactive .file-icon-container:hover .action-icon {
    opacity: 1;
}
.File .action-icon {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    width: 3.375rem;
    height: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .25s;
}
.File.interactive .file-icon-container:hover .file-icon::after {
    border-width: 0;
}
