.ysHMmXALnn0fgFRc7Bn7 {
    display: flex !important;
    align-items: center;
    gap: 0.25rem;
}
.ysHMmXALnn0fgFRc7Bn7 .nq7wdidGAlDZRU8k5YjA {
    margin-bottom: 0;
}
.ysHMmXALnn0fgFRc7Bn7 .nq7wdidGAlDZRU8k5YjA.wRQ44EzvWVlpm3M3sEPu {
    pointer-events: all;
}
