i {
    font-size: 1.2rem;
}
i.small-icon {
    font-size: 1rem;
}
i.big-icon {
    font-size: 2rem;
}
.another-in-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.logout {
    min-width: 100px;
}
#logout-inp:hover {
    color: #212025ff;
    cursor: pointer;
    transition: .3s ease-in;
}
#logout-inp {
    color: white;
    background-color: #7896fdff;
    width: 100%;
    min-height: 30px;
    border: 0px black;
    border-radius: 20px;
    box-shadow: black 0px;
}
html, body {
    --theme-background-color: #0F0F0F;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--theme-background-color);
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--color-text);
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    overflow: hidden;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    user-select: none;
    --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-monospace: "Cascadia Mono", "Roboto Mono", "Droid Sans Mono", "SF Mono", "Menlo", "Ubuntu Mono", "Consolas", monospace;
}
.bg-color-dark {
    background-color: rgb(45, 45, 56) !important;
}
.logo {
    height: 23px;
}
#portals {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
}
.chat-notify {
    display: flex;
    justify-content: center;
    width: 60%;
    border-radius: 10px;
    color: gray;
    background-color: #303132;
    margin: .5rem auto;
}
::-webkit-scrollbar {
    display: none;
}
.modal-content {
    background-color: var(--color-background);
}
.form {
    padding: 30px 20px;
    color: white;
    font-family: sans-serif;
    background-color: var(--color-background);
    border: 1px gray solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 230px;
    min-height: 400px;
    transform: translate(-50%, -50%);
}
:focus-visible {
    outline: none;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.form > p {
    color: gray;
}
button, input[type='submit'] {
    color: white;
    background-color: #7896fdff;
    width: 90%;
    min-height: 30px;
    border: 0px black;
    border-radius: 20px;
    box-shadow: black 0px;
    transition:  background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
}
button:hover {
    cursor: pointer;
}
span {
    text-wrap: nowrap;
}
.card span {
    margin-right: 0.5rem;
    text-wrap: wrap;
}
.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select2 {
    width: 100% !important;
}
#reg-lbl {
    color: gray;
}
#reg-a {
    margin-left: 5px;
}
#avatarImage {
    width: 5rem;
    height: 5rem;
    margin: 0px 10px;
    border: black .5px solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bell {
    border: none;
    width: 20px;
    height: 20px;
}
.notifications {
    margin: 0px 10px;
}
.friends{
    display: flex;
    flex-direction: row;
    width: 640px;
    margin: 0px auto;
    overflow-x: auto;
}
.scroll-friends {
    flex: 1;
    white-space: nowrap;
    margin-bottom: 50px;
}
.small-text {
    font-size: 0.8rem;
    color: lightgray;
}
.head {
    justify-content: space-around;
}
.room-header {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: #323335 1px solid;
    height: 50px;
}
.header-body{
    display: flex;
    align-items: center;
    width: 850px;
}
.folders {
    justify-content: space-between;
    margin-bottom: .3rem;
}
.nav-link {
    width: 100%;
}
.table-responsive {
    min-height: 60vh;
}
.tab-content {
    max-height: calc(100% - 5rem);
}
.alert-dismissible .btn-close {
    padding: 1rem;
}
.alerts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
#inputCredForm {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    cursor: not;
}
.help-text {
    font-size: 11px;
}
.allow-selection {
    -webkit-user-select: text;
    user-select: text;
}
.custom-scroll, .custom-scroll-x {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
    transition: scrollbar-color .3s ease;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
}
.opacity-transition.not-shown {
    display: none;
}
.opacity-transition.not-open {
    opacity: 0;
    transform: scaleX(0) scaleY(0);
}
.opacity-transition {
    opacity: 1;
    transition: opacity .5s ease, transform .5s;
}
.opacity-transition.slow {
    transition-duration: .3s;
}
.FM3UqBURiJqkjC4tI7eS {
    height: 100%;
    background-color: var(--theme-background-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#root, .full-height {
    height: 100%;
}
.emoji-small {
    background: no-repeat;
    background-size: var(--emoji-size);
    color: rgba(0,0,0,0);
    display: inline-block;
    width: var(--emoji-size);
    height: var(--emoji-size);
    margin-inline-end: 1px;
    overflow: hidden;
    flex-shrink: 0;
}
@keyframes hide-icon {
    0% {
        transform: scale(1);
        opacity: .4;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}
@keyframes grow-icon {
    0% {
        transform: scale(0.5);
        opacity: .8;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
.nav-pills .nav-link {
    text-wrap: nowrap;
}
.main-container {
    width: 60%;
}
.no-scrollbar {
    scrollbar-width: none;
}
.shared-canvas-container {
    position: relative;
}
.Tx2CpCmpZZrHnCMUksg2 {
    display: inline-flex;
    white-space: pre;
}
.div-button {
    outline: none !important;
    cursor: var(--custom-cursor, pointer);
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification-container {
    margin: 0.5rem;
}