p {
    margin: 0;
}
i {
    font-size: 1.2rem;
}
i.small-icon {
    font-size: 1rem;
}
i.big-icon {
    font-size: 2rem;
}
.another-in-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.logout {
    min-width: 100px;
}
#logout-inp:hover {
    color: #212025ff;
    cursor: pointer;
    transition: .3s ease-in;
}
#logout-inp {
    color: white;
    background-color: #7896fdff;
    width: 100%;
    min-height: 30px;
    border: 0px black;
    border-radius: 20px;
    box-shadow: black 0px;
}
html, body {
    --theme-background-color: #0F0F0F;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--theme-background-color);
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--color-text);
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    overflow: hidden;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    user-select: none;
    --font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-monospace: "Cascadia Mono", "Roboto Mono", "Droid Sans Mono", "SF Mono", "Menlo", "Ubuntu Mono", "Consolas", monospace;
}
.bg-color-dark {
    background-color: rgb(45, 45, 56) !important;
}
.in-header {
    display: flex;
    padding: .5rem 2rem;
    align-items: center;
}
.header {
    width: 100%;
    z-index: 999;
    top: 0;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-main);
}
.logo {
    height: 23px;
}
.user-name {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 30px;
    font-size: 20px;
}
#portals {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
}
#messages {
    flex-grow: 1;
    height: 90%;
    overflow: auto;
    max-height: calc(100vh - 14.5rem);
    color: white;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    min-height: 70px;
    min-width: 170px;
}
.chat-notify {
    display: flex;
    justify-content: center;
    width: 60%;
    border-radius: 10px;
    color: gray;
    background-color: #303132;
    margin: auto;
}
::-webkit-scrollbar {
    display: none;
}
.form {
    padding: 30px 20px;
    color: white;
    font-family: sans-serif;
    background-color: #2b2b2eff;
    border: 1px gray solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 230px;
    min-height: 400px;
    transform: translate(-50%, -50%);
}
:focus-visible {
    outline: none;
}
.inp {
    font-size: medium;
    text-align: center;
    color: white;
    border: 1px gray solid;
    border-radius: 50px;
    background-color: transparent;
    width: 85%;
    height: 35px;
    margin: 2px auto;
}
#submit-btn {
    width: 65%;
    margin-bottom: 30px;
    background-color: #4b72f4ff;
}
#submit-btn:hover {
    background-color: white;
    color: gray;
    transition: .5s ease-out;
    cursor: pointer;
}
#submit-btn:hover {
    background-color: white;
    color: gray;
    transition: .5s ease-out;
    cursor: pointer;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.form > p {
    color: gray;
}
button, input[type='submit'] {
    color: white;
    background-color: #7896fdff;
    width: 90%;
    min-height: 30px;
    border: 0px black;
    border-radius: 20px;
    box-shadow: black 0px;
    transition:  background-color 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s;
}
button:hover {
    cursor: pointer;
}
.cont {
    padding: 0px;
    background-color: var(--color-background-main);
    display: block;
    border-radius: 1.2rem;
    border: #323335 1px solid;
    margin-bottom: 10px;
    height: calc(100% - 7rem);
    max-width: 900px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; 
}
.tab-content {
    max-height: calc(100% - 3.8rem);
    overflow-y: auto;
}
.main-container {
    display: flex;
    flex-direction: column;
    margin: 0px 1rem;
    max-width: 850px;
    height: calc(100% - 50px);
}
span {
    text-wrap: nowrap;
}
.select2 {
    width: 100% !important;
}
#reg-lbl {
    color: gray;
}
#reg-a {
    margin-left: 5px;
}
#avatarImage, .avatar, .bell {
    width: 300px;
    height: 300px;
    margin: 0px 10px;
    border: black .5px solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.small {
    width: 50px !important;
    height: 50px !important;
}
.form-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bell {
    border: none;
    width: 20px;
    height: 20px;
}
.notifications {
    margin: 0px 10px;
}
.friends{
    display: flex;
    flex-direction: row;
    width: 640px;
    margin: 0px auto;
    overflow-x: auto;
}
.scroll-friends {
    flex: 1;
    white-space: nowrap;
    margin-bottom: 50px;
}
.small-text {
    font-size: 0.8rem;
    color: lightgray;
}
.head {
    justify-content: space-around;
}
.room-header {
    display: flex;
    justify-content: center;
    border-bottom: #323335 1px solid;
    height: 50px;
}
.header-body{
    display: flex;
    align-items: center;
    width: 850px;
}
.smaller {
    width: 40px;
    height: 40px;
}
.folders {
    justify-content: space-between;
    margin-bottom: .3rem;
}
.nav-link {
    width: 100%;
}
.table-responsive {
    min-height: 60vh;
}
.alert-dismissible .btn-close {
    padding: 1rem;
}
.alerts {
    margin-top: 6rem;
    max-height: 5rem;
    overflow: scroll;
}
#inputCredForm {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    cursor: not;
}
.shown {
    display: block!important;
}
.help-text {
    font-size: 11px;
}
.allow-selection {
    -webkit-user-select: text;
    user-select: text;
}
.custom-scroll, .custom-scroll-x {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0);
    transition: scrollbar-color .3s ease;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
}
.opacity-transition.not-shown {
    display: none;
}
.opacity-transition.not-open {
    opacity: 0;
    transform: scaleX(0) scaleY(0);
}
.opacity-transition {
    opacity: 1;
    transition: opacity .5s ease, transform .5s;
}
.icon {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.FM3UqBURiJqkjC4tI7eS {
    height: 100%;
    background-color: var(--theme-background-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#root, .full-height {
    height: 100%;
}