.ListItem:not(.disabled):not(.is-static) .ListItem-button {
    cursor: var(--custom-cursor, pointer);
}
.ListItem.chat-item-clickable .ListItem-button {
    padding: 0.5625rem;
}
.ListItem .title, .ListItem .subtitle {
    line-height: 1.5rem;
}
.ListItem .ListItem-button {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-text);
    border-radius: var(--border-radius-default);
    --ripple-color: rgba(0, 0, 0, 0.08);
    text-decoration: none;
}
.ListItem.chat-item-clickable .contact-phone, .ListItem.chat-item-clickable .contact-username, .ListItem.chat-item-clickable h3, .ListItem.chat-item-clickable .last-message, .ListItem.chat-item-clickable .status, .ListItem.chat-item-clickable .typing-status {
    text-align: initial;
    unicode-bidi: plaintext;
}
.ListItem .user-status, .ListItem .group-status, .ListItem .title, .ListItem .other-usernames, .ListItem .subtitle {
    text-align: initial;
    unicode-bidi: plaintext;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ListItem.chat-item-clickable .info-row, .ListItem.chat-item-clickable .title, .ListItem.chat-item-clickable .subtitle {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ListItem.chat-item-clickable .title h3 {
    font-weight: 500;
}
.ListItem.chat-item-clickable h3, .ListItem.chat-item-clickable .last-message, .ListItem.chat-item-clickable .typing-status {
    overflow: hidden;
}
.ListItem.chat-item-clickable h3, .ListItem.chat-item-clickable .last-message, .ListItem.chat-item-clickable .status, .ListItem.chat-item-clickable .typing-status {
    font-size: 1rem;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: initial;
}
.ListItem.chat-item-clickable .separator {
    flex-grow: 1;
    min-width: 0.5rem;
}
.ListItem.chat-item-clickable .Avatar {
    margin-right: 0.5rem;
}
.ListItem .info {
    width: 100%;
}
.ListItem .ListItem-button>.icon {
    max-width: 1rem;
    font-size: 1.5rem;
    margin-inline-start: 0.125rem;
    margin-inline-end: 1.25rem;
    color: var(--color-text-secondary);
}
.ListItem .ListItem-button.danger .icon {
    color: inherit;
}
.ListItem.narrow .ListItem-button {
    padding: 0.5rem 1rem;
}
.ListItem.narrow {
    margin-bottom: 0.75rem;
}
.ListItem.multiline .ListItem-button>.icon {
    position: relative;
}
.ListItem .multiline-item {
    flex-grow: 1;
    white-space: initial;
    overflow: hidden;
}
.ListItem .multiline-item .title {
    line-height: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ListItem .multiline-item .title, .ListItem .multiline-item .subtitle {
    display: block;
    text-align: initial;
}
.ListItem .multiline-item .subtitle {
    font-size: .875rem;
    line-height: 1.5rem;
    color: var(--color-text-secondary);
}
@media (hover: hover){
    .ListItem:not(.disabled):not(.is-static) .ListItem-button:hover, .ListItem:not(.disabled):not(.is-static) .ListItem-button:focus {
        --background-color: var(--color-chat-hover);
    }
}
@media (min-width: 600px){
    .ListItem-button.active {
        --background-color: var(--color-chat-active) !important;
    }
}
