.message-content .text-content>.MessageMeta, .message-content.document>.MessageMeta {
    position: relative;
    top: 0.375rem;
    bottom: auto !important;
    float: right;
    line-height: 1.35;
    height: calc(var(--message-meta-height, 1rem));
    margin-left: 0.4375rem;
    margin-right: -0.5rem;
}
.message-content.has-solid-background {
    padding: 0.3125rem 0.5rem 0.375rem;
}
.message-content.has-shadow {
    box-shadow: 0 1px 2px var(--color-default-shadow, rgb(16,16,16,0.612));
}
.message-content {
    font-size: var(--message-text-size, 1rem);
}
.message-content.has-solid-background, .message-content.has-background, .is-album .message-content {
    background: var(--background-color);
}
.message-content >.content-inner {
    min-width: 0;
}
.message-content.voice .text-content, .message-content.audio .text-content, .message-content.document .text-content {
    margin-top: 0.25rem;
}
.message-content .text-content {
    margin: 0;
    word-break: break-word;
    white-space: pre-wrap;
    line-height: 1.3125;
    text-align: initial;
    display: block;
    unicode-bidi: plaintext;
    border-radius: 0.25rem;
    position: relative;
}
.message-content {
    border-top-left-radius: var(--border-top-left-radius);
    border-top-right-radius: var(--border-top-right-radius);
    border-bottom-left-radius: var(--border-bottom-left-radius);
    border-bottom-right-radius: var(--border-bottom-right-radius);
}
.message-content.media .media-inner.interactive, .WebPage .media-inner.interactive {
    cursor: var(--custom-cursor, pointer);
}
.message-content.media .media-inner, .WebPage .media-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-content img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.message-content.media.text .media-inner, .WebPage.text .media-inner {
    margin-top: -0.3125rem; 
}
.message-content {
    position: relative;
    max-width: var(--max-width);
}
.media-inner a {
    height: 100%;
    width: 100%;
}
.message-content.media.text .Album {
    margin: -0.3125rem -0.5rem 0.3125rem;
}
.message-content.media.force-sender-name .media-inner, .message-content.media.force-sender-name .Album,
 .message-content.media.text .media-inner, .message-content.media.is-via-bot .media-inner,
  .message-content.media.has-subheader .media-inner, .message-content.media.has-subheader .Album,
   .WebPage.force-sender-name .media-inner, .WebPage.force-sender-name .Album, .WebPage.text .media-inner,
    .WebPage.is-via-bot .media-inner, .WebPage.has-subheader .media-inner, .WebPage.has-subheader .Album
     {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.theme-dark .message-content.document .File {
    --color-primary: var(--color-selection-highlight);
}
.message-content.document .File {
    margin-top: 0.1875rem;
}

.message-content.document:not(.text)>.MessageMeta {
    top: auto !important;
    bottom: -0.5rem !important;
    margin-top: -0.25rem;
}
.message-content.document:not(.text)>.MessageMeta {
    margin-top: -1.25rem;
}