.Modal {
    position: relative;
    z-index: var(--z-modal);
    color: var(--color-text);
}
.Modal .modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Modal .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.25);
}
.Modal.open .modal-dialog {
    transform: translate3d(0, 0, 0);
}
.Modal .modal-dialog {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    pointer-events: auto;
    width: 100%;
    max-width: 35rem;
    min-width: 17.5rem;
    margin: 2rem auto;
    background-color: var(--color-background);
    box-shadow: 0 0.25rem 0.5rem 0.125rem var(--color-default-shadow);
    border-radius: var(--border-radius-modal);
    transform: translate3d(0, -1rem, 0);
    transition: transform .2s ease,opacity .2s ease;
}
.Modal .modal-header-condensed {
    padding: 0.5rem 1.25rem 0 0.9375rem !important;
}
.Modal .modal-header, .Modal .modal-header-condensed {
    padding: 1rem 1rem 0;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.Modal .modal-title, .Modal .modal-content, .Modal .modal-content>p {
    unicode-bidi: plaintext;
    text-align: initial;
}
.Modal .modal-content {
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
    max-height: 92vh;
}
.Modal .modal-title {
    font-size: 1.25rem;
    font-weight: 500;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Modal .modal-title:not(:only-child) {
    margin: 0 1.5rem;
}
.Modal .dialog-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.Modal .confirm-dialog-button {
    width: auto;
    height: auto;
    text-align: right;
    font-weight: 500;
    white-space: pre-wrap;
}
.Modal .dialog-buttons .confirm-dialog-button+.confirm-dialog-button {
    margin-right: 1rem;
}
.Modal .modal-title, .Modal .modal-content, .Modal .modal-content>p {
    unicode-bidi: plaintext;
    text-align: initial;
}
.Modal.delete .modal-dialog, .Modal.error .modal-dialog, .Modal.confirm .modal-dialog, .Modal.pin .modal-dialog, .Modal.unpin-all .modal-dialog {
    max-width: 23rem;
}