.room-container, .user-container {
    padding: 5px 0;
    height: 70px;
    border-bottom: #323335 1px solid;
    border-top: #323335 1px solid;
}
.room-name {
    font-size: 14px;
    padding: 5px 0px;
}
.room-main-block, .user-main-block {
    display: flex;
    width: 85%;
    flex-direction: column;
    justify-content: flex-start;
}
.prev-last-msg {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}
.room-image, .user-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 10px;
}
.room, .user {
    display: flex;
    color: white;
    padding: 5px 2px;
    border-radius: 10px;
    align-items: center;
}
.create-room-btn {
    margin: 0px 2px;
    min-width: 30px;
    width: 120px;
}
.create-room{
    display: flex;
    align-items: center;
    margin: .5rem 1rem;
}
.room > a > .avatar {
    background-image: url(/media/images/room-images/base-room.png);
}
.roomImgPrev {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border-radius: 50%;
    background-image: url(/media/images/room-images/base-room.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}