.Tab--interactive {
    cursor: var(--custom-cursor, pointer);
}
.Tab, .Tab:active, .Tab:focus {
    outline: none;
}
.Tab {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    width: auto;
    margin: 0;
    border: none;
    padding: 0.625rem 0.25rem;
    font-weight: 500;
    color: var(--color-text-secondary);
    border-top-left-radius: var(--border-radius-messages-small);
    border-top-right-radius: var(--border-radius-messages-small);
}
.Tab i.fa-circle-plus:before {
    color: var(--color-primary);
}
.Tab.active {
    cursor: var(--custom-cursor, default);
    color: var(--color-primary);
}
.Tab>span {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.Tab .platform {
    position: absolute;
    bottom: calc(-0.625rem - 1px);
    left: 0;
    opacity: 0;
    background-color: var(--color-primary);
    height: 0.1875rem;
    width: 100%;
    border-radius: 0.1875rem 0.1875rem 0 0;
    pointer-events: none;
    box-sizing: content-box;
    transform-origin: left;
}
.Tab.active .platform {
    transition: transform var(--slide-transition);
    opacity: 1 !important;
}
@media (hover: hover){
    .Tab--interactive:not(.Tab--interactive--active):hover {
        background: var(--color-interactive-element-hover);
    }
}
