#Main {
    height: 100%;
    text-align: left;
    overflow: hidden;
}
.Transition {
    position: relative;
    width: 100%;
    height: 100%;
}
#root, .full-height {
    height: 100%;
}
.Transition_slide {
    width: 100%;
    height: 100%;
    animation-fill-mode: forwards !important;
}
#MiddleColumn .messages-layout>.Transition {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Transition-slideOptimized {
    contain: strict;
}
.Transition-slideOptimized {
    opacity: 1;
}
#root .Transition-slideOptimized>.Transition_slide, #root .Transition-slideOptimizedBackwards>.Transition_slide, #root .Transition-slideOptimizedRtl>.Transition_slide, #root .Transition-slideOptimizedRtlBackwards>.Transition_slide {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform var(--slide-transition);
}
.Transition_slide-inactive {
    display: none !important;
}
.ChatFolders .Transition-slideOptimized {
    max-height: calc(100% - 2.5rem);
}
.Transition.flex-col {
    display: flex;
    flex-direction: column;
}