.user-main-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.users {
    border-radius: 1.2rem;
    overflow: hidden;
}
.profile > .avatar, .user > a > .avatar {
    background-image: url(/media/images/users-avatars/base-user.png);
}
.user-actions {
    width: 30%;
}
.user-actions > button {
    width: 100%;
}