{% extends 'index/base.html' %}
{% load static %}

    {% block modal %}

    <!-- Modal for add members -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" data-bs-theme="dark" aria-labelledby="addMemberModalLabel" aria-hidden="true">
        <div class="modal-dialog text-bg-dark">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addMemberModalLabel">Add members</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% include 'index/users_list.html' with users=members %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="addMembers()">Add members</button>
            </div>
            </div>
        </div>
    </div>


    <!-- Modal that show chat info -->

    <div class="modal fade" id="chatInfo" data-bs-theme="dark" tabindex="-1" aria-labelledby="chatInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-bg-dark">
                Info
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header">
                <div class="d-flex">
                    <div class="avatar small" style="background-image: url({{ room.image}});"></div>
                    <div class="room-name text-bg-dark">
                      <span>{{ room.name }}</span>
                          {% if room.type == 'chat' and room.name != 'Favorites' %}
                              <div>{{ room.members|length }} members</div>
                          {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-body">
              {% for usr in room.members %}
              <a href="{% url 'profile' usr.user_id %}" class="user-container">
                <div class="user">
                    <div class="avatar small" style="background-image: url({{ usr.Avatar }});"></div>
                    <div class="user-main-block">
                        {{ usr.username }}
                        <div class="user-actions"></div>
                    </div>
                </div>
            </a>
              {% endfor %}
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'leave-room' %}" style="width: 100%;">
                    {% csrf_token %}
                    <input type="hidden" name="room-id" id="room-id" value="{{ room.id }}">
                    <button class="nav-link btn btn-danger" type="submit" style="color: gray; border: #6666 1px solid; width: 40%;">Leave room</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block header %}
        {% include 'index/header.html' %}
    {% endblock %}


    {% block content %}
    {% include 'index/room-header.html' with room=room %}
    <div class="main-container">
        <div id="messages"></div>
    </div>
    {% endblock %}

    {% block footer %}
        {% include 'index/footer.html' %}
    {% endblock %}

{% block scripts %}
<script src=" {% static 'js/index.js' %} "></script>
{% endblock %}
