{% extends 'index/base.html' %}
{% load i18n %}

{% block title %}{% translate "View Notification" %}{% endblock title %}

{% block header %}
{% include 'index/header.html' %}
{% endblock %}

{% block content %}
    <h2 class="page-header text-center">
        {% translate "View Notification" %}
    </h2>

    <div class="main-container">
        <div class="card text-bg-dark border-light bg-color-dark">
            {% if notif.title == "Friend Request" %}
                <div class="cart-title">
                    <span>Fr req</span>
                    <span>{{notif.title}}</span>
                </div>
                <div class="card-body">
                    <span>{{ notif.message }}</span>    
                </div>
                <div class="card-footer border-light">
                    <span>{{ notif.timestamp }}</span>
                </div>
            {% else %}
                <div class="cart-title">
                    <span>{{notif.title}}</span>
                </div>
                <div class="card-body">
                    <span>{{ notif.message }}</span>    
                </div>
                <div class="card-footer border-light">
                    <span>{{ notif.timestamp }}</span>
                    <form action="{% url 'notifications:remove' notif.pk %}">
                        <input type="hidden" name="notif-id" id="notif-id" value="notif-id">
                        <button type="submit" class="btn btn-danger" style="width: 15%;">Remove</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

